{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block page_title %}The Home Page{% endblock %}
{% block content %}
    <span style="display: block;font-size: 2rem;text-align: center;margin-top: 2rem;border-top: double black;border-bottom: double black;background: rgba(255,255,255,.4)" >
        Follow the Trail of the Early Internet Pioneers!
    </span>
    <div class="wrapper">

        <div class="box">
            <a href="{{ url_for('templates', filename='isp.html')}}">
                <img src="{{ url_for('static', filename='images/isp_thumbnail.jpg') }}" class="boxImage" alt="Worldwide Web">
            </a>
            <a href="{{ url_for('templates', filename='isp.html')}}">
                The Providers
            </a>
        </div>

        <div class="box">
            <a href="{{ url_for('templates', filename='browsers.html')}}">
                <img src="{{ url_for('static', filename='images/browser_thumbnail.png') }}" class="boxImage" alt="Internet Browser Logos" >
            </a>
            <a href="{{ url_for('templates', filename='browsers.html')}}">
                The Browsers
            </a>
        </div>
        <div class="box">
            <a href="{{ url_for('templates', filename='search.html')}}">
                <img src="{{ url_for('static', filename='images/search_thumbnail.png') }}" class="boxImage" alt="Search Engine Logos" >
            </a>
            <a href="{{ url_for('templates', filename='search.html')}}">
                The Searchers
            </a>
        </div>
        <div class="box">
            <a href="{{ url_for('templates', filename='builders.html')}}">
                <img src="{{ url_for('static', filename='images/builders_thumbnail.jpg') }}" class="boxImage" alt="Pioneers written on keyboard" >
            </a>
            <a href="builders.html">
                The Founders
            </a>
        </div>
        <div class="box">
            <a href="{{ url_for('templates', filename='enablers.html')}}">
                <img src="{{ url_for('static', filename='images/enablers.jpg') }}"class="boxImage" alt="Depiction of a historical battle" >
            </a>
            <a href="{{ url_for('templates', filename='enablers.html')}}">
                The Builders
            </a>
        </div>
        <div class="box">
            <a href="{{ url_for('templates', filename='salesmen.html')}}">
                <img src="{{ url_for('static', filename='images/salesmen_thumbnail.jpg') }}" class="boxImage" alt="Art of Steve Jobs" >
            </a>
            <a href="{{ url_for('templates', filename='salesmen.html')}}">
                The Entrepreneurs
            </a>
        </div>

    </div>
{% endblock %}